<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="css/style.css" rel="stylesheet">
    <link href="lib/angular.treeview.css" rel="stylesheet">
    <link href="lib/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="lib/ionic/js/angular-ui/angular-ui-router.js"></script>

    <script src="lib/ionic/js/angular/angular-resource.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="lib/angular.treeview.js"></script>
    
    <!-- ACE editor -->
    <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>

    <script src="app.js"></script>

  </head>
<body ng-app="apper" ng-controller="RootCtrl" ui-view>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <div class="btn-group navbar-btn" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                  Apps <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="app in apps">
                    <a ng-click="openApp(app.id)">{{app.name}}</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <button class="btn btn-default navbar-btn" style="margin-left:20px" ng-click="newApp()">New App</button>
            </li>
            <li>
              <button class="btn btn-default navbar-btn" style="margin-left:20px" ng-click="runApp()">Run</button>
            </li>
  
            <li ng-show="loading">{{message}}</li>
  
          </ul>
        </div>
      </div>
    </nav>


    <div ui-view style="width:100%;height:100%">
    </div>

    <script type="text/ng-template" id="editor.html">
      <div ng-controller="EditorCtrl">
        <div style="float:left;width:200px;border:1px solid #CCC">
          <div
              data-angular-treeview="true"
              data-tree-id="tagtree"
              data-tree-model="fileTree"
              data-node-id="id"
              data-node-label="name"
              data-node-children="children" >
          </div>
        </div>

        <div style="float:left;width:600px;height:600px;border:1px solid #CCC">
          <div ui-ace="{ onLoad : aceLoaded }" ng-model="fileNode.content" style="width:100%;height:100%"></div>
        </div>
      </div>

      <iframe src="/mt1/" style="float:left;margin-left:20px;width:500px;height:100%" ng-show="running"/>

    </script>


    <script type="text/ng-template" id="newapp-modal.html">
      <div class="modal-header">
          <h3 class="modal-title">Create new app</h3>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" class="form-control" placeholder="Name" ng-model="opts.name"></input>
          <input type="text" class="form-control" placeholder="Github repository" ng-model="opts.repository"></input>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">OK</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>

  </body>
</html>
